* {
  font-family: 'Fira Code', monospace;
  background-color: black;
    
}

.font-cyan {
  color: cyan !important;
}

.font-pink {
  color: hotpink !important;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height:100vh;
  overflow: auto;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e252e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}


